<div>
  <mat-form-field>
    <mat-select placeholder="Type" [(value)]="debtType">
      <mat-option *ngFor="let debtType of debtTypes" [value]="debtType.index">
        {{ debtType.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="amount">
    <input matInput placeholder="Amount" type="number" [(ngModel)]="amount">
    <span matPrefix>€&nbsp;</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateString" placeholder="Choose a start date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-stroked-button color="primary" class="add-button"
          [disabled]="addButtonDisabled()" (click)="addDebt()">Add</button>
</div>

<mat-card *ngFor="let debt of debtor?.debts">
  <div [ngSwitch]="debt.type">
    <mat-card-title *ngSwitchCase="0">Daily</mat-card-title>
    <mat-card-title *ngSwitchCase="1">Weekly</mat-card-title>
    <mat-card-title *ngSwitchCase="2">Monthly</mat-card-title>
    <mat-card-title *ngSwitchCase="3">Yearly</mat-card-title>
  </div>
  <mat-card-subtitle>{{ debt.since.toLocaleDateString() }}</mat-card-subtitle>
  <mat-card-content>{{ debt.amount }}€</mat-card-content>
</mat-card>
