<div>
  <div class="input-column column-1">
    <mat-form-field>
      <mat-select placeholder="Type" [(value)]="debtType">
        <mat-option *ngFor="let debtType of debtTypes" [value]="debtType.index">
          {{ debtType.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="amount">
      <input matInput placeholder="Amount" type="number" [(ngModel)]="amount">
      <span matPrefix>{{ environment.currencySymbol }}&nbsp;</span>
    </mat-form-field>
  </div>

  <div class="input-column column-2">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dateString" placeholder="Choose a start date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-stroked-button color="primary" class="add-button"
            [disabled]="addButtonDisabled()" (click)="addDebt()">Add</button>
  </div>
</div>

<mat-card *ngFor="let debt of debtor?.debts">
  <mat-card-title [ngSwitch]="debt.type">
    <span *ngSwitchCase="0">Daily</span>
    <span *ngSwitchCase="1">Weekly</span>
    <span *ngSwitchCase="2">Monthly</span>
    <span *ngSwitchCase="3">Yearly</span>

    <button mat-button class="delete" (click)="removeDebt(debt.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>{{ debt.since.toLocaleDateString(environment.locale) }}</mat-card-subtitle>
  <mat-card-content>{{ debt.amount }}{{ environment.currencySymbol }}</mat-card-content>
</mat-card>
