:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2em;
}

mat-card {
  width: 40vw;
  margin-bottom: 1em;
}

input {
  -moz-appearance: textfield;
}

mat-form-field {
  margin-right: 1em;
}

.amount {
  width: 100px;
}

input[type=number] {
  text-align: right;
}

.add-debt {
  width: 25vw;
  display: flex;
  justify-content: space-between;
}

.input-column {
  display: inline;
}

@media only screen and (max-aspect-ratio: 1/1) {
  mat-card {
    width: 70vw;
  }

  .input-column {
    display: block;
    margin-left: 1em;
  }
}
