<div>
  <mat-form-field>
    <mat-label>Add a Debtor</mat-label>
    <input matInput placeholder="Name" [(ngModel)]="debtorName" (keypress)="keydown($event)">
  </mat-form-field>

  <button mat-stroked-button color="primary" (click)="addDebtor()"
          class="add-button" [disabled]="debtorName === ''">Add</button>
</div>

<mat-card *ngFor="let debtor of debtors" routerLink="/debtors/{{ debtor.id }}">
  <mat-card-title>{{ debtor.name }}</mat-card-title>
  <mat-card-content>{{ debtor.getDebtSum() }}€</mat-card-content>
</mat-card>
