:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

mat-card {
  width: 40vw;
  margin-bottom: 1em;
  cursor: pointer;
}

.add-button {
  margin-left: 1em;
}

.logout-button {
  position: absolute;
  right: 1em;
  top: 1em;
}

@media only screen and (max-aspect-ratio: 1/1) {
  mat-card {
    width: 70vw;
  }
}
