<h1>You Owe Me</h1>

<div>
  <mat-form-field>
    <mat-label>Add a Debtor</mat-label>
    <input matInput placeholder="Name" [(ngModel)]="debtorName" (keypress)="keydown($event)">
  </mat-form-field>

  <button mat-stroked-button color="primary" (click)="addDebtor()"
          class="add-button" [disabled]="debtorName === ''">Add</button>
</div>

<mat-card *ngFor="let debtor of debtors" routerLink="/debtors/{{ debtor.id }}">
  <mat-card-title>
    <span>{{ debtor.name }}</span>
    <button mat-button class="delete" (click)="removeDebtor($event, debtor.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>{{ debtor.getDebtSum() }}{{ environment.currencySymbol }}</mat-card-content>
</mat-card>

<button mat-stroked-button color="primary" class="logout-button" (click)="logout()">Logout</button>
