<h1>{{ debtor?.name }}</h1>

<mat-form-field>
  <input matInput [matDatepicker]="picker" [value]="date" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<button mat-stroked-button color="primary">Pay</button>

<mat-card *ngFor="let payment of getPayments()" [class.paid]="payment.paid">
  <mat-card-title>{{ payment.amount }}€</mat-card-title>
  <mat-card-content>
    {{ payment.date.getFullYear() }}-{{ payment.date.getMonth() + 1 }}-{{ payment.date.getDate() }}
  </mat-card-content>
</mat-card>
