.header-wrapper {
  display: flex;
  align-items: center;
}

.align-right {
  justify-content: right;
}

header {
  display: grid;
  grid-template-columns: auto auto auto;
}

h1 {
  text-align: center;
}

span {
  padding: 0 16px;
  font-size: 1.5em;
}
