<header>
  <div class="header-wrapper">
    <button mat-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <h1>{{ (debtor | async)?.name }}</h1>

  <div class="header-wrapper align-right">
    <span>{{ (debtor | async)?.getDebtSum() }}{{ environment.currencySymbol }}</span>
  </div>
</header>

<mat-tab-group>
  <mat-tab label="Payments">
    <app-payment-list [debtor]="(debtor | async) || undefined"></app-payment-list>
  </mat-tab>
  <mat-tab label="Debts">
    <app-debt-list [debtor]="(debtor | async) || undefined"></app-debt-list>
  </mat-tab>
</mat-tab-group>
